<section class="signIn">
    <div class="banner_custom position-relative d-flex align-items-center justify-content-center">

    </div>

    <div class="container formSection p-4 p-lg-5 mx-auto" style="margin-top: 100px;background: #101d2a;">
      <div>
        <form [formGroup]="forgotForm" (ngSubmit)="forgot()">
          <div class="bannerContent helpDeskBanner mx-2">
            <h1 class="text-white sec-heading text-center px-3 font-weight-light mb-5">
              Forgot Password
            </h1>
          </div>
          <div class="row">
            <div class="form-group mb-4 col-lg-12">
              <!-- <label for="exampleInputemail"><i class="fa fa-envelope" aria-hidden="true"></i> Email Address
                <span>*</span></label> -->
              <input type="text" class="form-control" id="exampleInputemail" placeholder="Your Email Address"
                formControlName="email" />
                <div class="alert alert-danger py-1 px-3 mt-2 mb-4 rounded" *ngIf="
                submitted && forgotForm['controls'].email.hasError('required')
              ">
              Please enter email.
            </div>
            <div class="alert alert-danger py-1 px-3 mt-2 mb-4 rounded" *ngIf="
                submitted && forgotForm['controls'].email.hasError('pattern')
              ">
              Please enter valid email
            </div>
            <div class="alert alert-danger py-1 px-3 mt-2 mb-4 rounded" *ngIf="
                submitted && forgotForm['controls'].email.hasError('maxlength')
              ">
              Maximum Length is 100
            </div>
            </div>
          </div>
          <div class="booster-form-btn text-center">
            <button type="submit" class="cmnbtntype_nw">reset password</button>
            <div class="already-log">
                <a [routerLink]="['/login']" class="blue-log">Back to login</a>
            </div>
        </div>
        </form>
        </div>
        </div>
  </section>
