<section
  class="maininnerarea"
  [ngStyle]="{ 'background-image': 'url(assets/payment_bg.jpg)' }"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div
          class="frmbx_inner cmn_frm payment"
          [ngStyle]="{ 'background-image': 'url(assets/cardnw.png)' }"
        >
          <div class="top_bx">
            <div class="media">
              <div class="col-lg-4 offset-2">
                <img
                  src="assets/lootbox.gif"
                  class="img-fluid mn_image"
                />
              </div>
              <div class="col-lg-6">
                <div class="cardright_divitn">
                  <div class="ribon_bx">
                    <h1>$2</h1>
                    <img
                      src="assets/images/card_img.png"
                      class="img-fluid mn_image"
                    />
                  </div>
                  <div class="media-body">
                    <h1 class="mainindex_heading">Master Forge</h1>
                    <p>
                      At the Master Forge lies the communal Orb Machine. Stationed deep inside the station orbiting Illium-3. The guardians of the battle platform take payment in exchange to use the Orb Machine to create items of extreme combat power.
                    </p>
                    <div class="media_btm">
                      <div class="media">
                        <img
                          src="assets/images/sml_card.png"
                          class="img-fluid mn_image"
                        />
                        <div class="col-lg-6">
                          <div class="media-body">
                            <h1 class="mainindex_heading">
                              How many<br />packs you wanna<br />buy?
                            </h1>
                            <div
                              class="form-group mb-0"
                              [ngStyle]="{
                                'background-image': 'url(assets/new_area.png)'
                              }"
                            >
                              <!-- <h1 class="smallheading">Input here</h1> -->
                              <input
                                type="number"
                                class="form-control"
                                placeholder="Input here"
                                [(ngModel)]="quantity"
                                />
                            </div>
                            <a
                              (click)="startPurchase()"
                              class="btn carusel_btn"
                              ><span>Checkout</span></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
