<section class="signIn">
  <div class="banner_custom position-relative d-flex align-items-center justify-content-center">

  </div>

  <div class="container mx-auto">
    <div class="row">
      <div class="col-md-8 mx-auto"  style="margin-top: 10px;background: #101d2a;padding:30px; border: 2px solid #09a5a3;margin-bottom:50px;">
        <form>
          <div class="bannerContent helpDeskBanner mx-2">
            <h1 class="text-white sec-heading text-center px-3 font-weight-light mb-5">
              Thank Your For Your Purchase
            </h1>
          </div>
          <div class="text-center" style="color:#fff !important">
              Redirecting....
          </div>
          <div class="booster-form-btn text-center">
            <button [routerLink]="['/']" class="cmnbtntype_nw">Back to home</button>
        </div>
        </form>
      </div>

      </div>
      </div>
</section>
