<div class="header-fixed-area">
	<header class="header-wrap">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="javascript:void(0);" routerLink="/cards">
					<img class="img-fluid" src="assets/images/logomain.png" width="115" height="53" alt="The Sphere">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li *ngIf="getNonCompletedMissions()>0" class="nav-item" routerLinkActive="active">
							<a class="nav-link" href="javascript:void(0);" routerLink="/tutorial">
								<span class="image-wrap">
									<img src="assets/images/tutorial-icon.png" alt="Tutorial" width="17" height="20"
										class="img-fluid">
									<img src="assets/images/tutorial-icon-hover.png" alt="Tutorial" width="17"
										height="20" class="img-fluid active-image">
								</span>
								<span style="white-space: nowrap;" class="menu-text">TUTORIAL
									({{getNonCompletedMissions()}})</span>
							</a>
						</li>
						<li class="nav-item" routerLinkActive="active">
							<a class="nav-link" href="javascript:void(0);" routerLink="/lootbox">
								<span class="image-wrap">
									<img src="assets/images/market.png" alt="Market" width="17" height="20"
										class="img-fluid">
									<img src="assets/images/market-hover.png" alt="Market" width="17" height="20"
										class="img-fluid active-image">
								</span>
								<span class="menu-text">LOOTBOX</span>
							</a>
						</li>
						<li class="nav-item" routerLinkActive="active">
							<a class="nav-link" href="javascript:void(0);" routerLink="/market">
								<span class="image-wrap">
									<img src="assets/images/market.png" alt="Market" width="17" height="20"
										class="img-fluid">
									<img src="assets/images/market-hover.png" alt="Market" width="17" height="20"
										class="img-fluid active-image">
								</span>
								<span class="menu-text">MARKET</span>
							</a>
						</li>
						<li class="nav-item" routerLinkActive="active">
							<a class="nav-link" href="javascript:void(0);" routerLink="/cards">
								<span class="image-wrap">
									<img src="assets/images/card.png" alt="Card" width="18" height="20"
										class="img-fluid">
									<img src="assets/images/card-hover.png" alt="Card" width="18" height="20"
										class="img-fluid active-image">
								</span>
								<span class="menu-text">CARD</span>
							</a>
						</li>
						<li *ngIf="getNonCompletedMissions()==0" class="nav-item">
							<a class="nav-link" target="_blank" href="https://t.me/thespherechat">
								<span class="image-wrap">
									<img src="assets/images/battle.png" alt="Battle" width="20" height="20"
										class="img-fluid">
									<img src="assets/images/battle-hover.png" alt="Battle" width="20" height="20"
										class="img-fluid active-image">
								</span>
								<span class="menu-text">BATTLE</span>
							</a>
						</li>
						<li class="nav-item" routerLinkActive="active">
							<a class="nav-link" routerLink="events">
								<span class="image-wrap">
									<img src="assets/images/events.png" alt="Events" width="20" height="20"
										class="img-fluid">
									<img src="assets/images/events-hover.png" alt="Events" width="20" height="20"
										class="img-fluid active-image">
								</span>
								<span class="menu-text">EVENTS</span>
							</a>
						</li>
						<li class="nav-item" routerLinkActive="active">
							<a class="nav-link" routerLink="faqs">
								<span class="image-wrap">
									<img src="assets/images/faq.png" alt="Faq" width="13" height="20" class="img-fluid">
									<img src="assets/images/faq-hover.png" alt="Faq" width="13" height="20"
										class="img-fluid active-image">
								</span>
								<span class="menu-text">FAQ'S</span>
							</a>
						</li>
					</ul>
					<div class="dropdown" *ngIf="isLogin">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{user.firstName}} {{user.lastName}}
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<li role="menuitem"><a class="dropdown-item" routerLink="/account">MY CARDS</a></li>
							<li role="menuitem"><a class="dropdown-item" routerLink="/account/profile">PROFILE</a></li>
							<li role="menuitem"><a class="dropdown-item" routerLink="/account/wallet">WALLET</a></li>

							<li role="menuitem"><a class="dropdown-item" (click)="logout()">LOGOUT</a>
						</div>
					</div>
					<div class="header-button-wrap" *ngIf="!isLogin">
						<a class="btn primary-btn" [routerLink]="['/login']">LOGIN</a>
					</div>
					<div class="header-button-wrap ml-3" *ngIf="!isLogin">
						<a class="btn primary-btn" [routerLink]="['/register']">Register</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- header-section -->
</div>