<div style="position:relative; margin: 0 auto; text-align: center; padding-top: 8px;">
    <div>
        <h4 class="heading"><a href="#">You have just claimed a reward!</a></h4>
        <a class="description">'{{data.reward}}' will soon appear in your cardpack</a>
        <div style="padding: 20px;">
            <button (click)="gotoAccount()" class="btn-navigate">CHECK YOUR PACKS</button>
            <button (click)="closeDialog()" class="btn-close">CLOSE</button>
        </div>
    </div>
</div>