<!-- Footer-wrap -->
<footer class="footer-wrap">
	<div class="container">
		<div class="footer-grid row align-items-end">
			<div class="col-lg-5 custom-col-size1">
				<div class="menu-links">
					<ul class="list-unstyled">
						<li>
							<a href="javascript:void(0);">HOME</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/market">MARKET</a>
						</li>
						<li>
							<a href="javascript:void(0);" routerLink="/cards">CARDS</a>
						</li>
						<li>
							<a href="javascript:void(0);">BATTLE</a>
						</li>
						<li>
							<a href="javascript:void(0);">EVENTS</a>
						</li>
						<li>
							<a href="javascript:void(0);">FAQ'S</a>
						</li>
					</ul>
				</div>
				<div class="copyright-text">
					<p class="mb-0">©2020 Enter-the-sphere.com, All rights Reserved.</p>
				</div>
			</div>
			<div class="col-lg-3 d-flex align-self-start mr-auto custom-col-size2">
				<div class="footer-logo-wrap text-center w-100">
					<img src="assets/images/logofooter.png" class="img-fluid d-inline-block" alt="">
				</div>
			</div>
			<div class="col-lg-4 custom-col-size3">
				<div class="menu-links d-inline-block">
					<ul class="list-unstyled">
						<li>
							<a href="javascript:void(0);">Terms & Conditions</a>
						</li>
						<li>
							|
						</li>
						<li>
							<a href="javascript:void(0);">Privacy Policy</a>
						</li>
					</ul>
				</div>
				<div class="social-links d-inline-block">
					<ul class="list-unstyled">
						<li>
							<a href="javascript:void(0);" target="_blank">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank">
								<i class="fab fa-telegram-plane"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer section -->