.profile-image {
  width: 180px;
  height: 180px;
  display: block;
  border: 4px solid #09a5a3;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.profile-image img {
  width: 173px;
  height: 173px;
  border-radius: 50%;
}
